html,
body {
    display : flex ;
    flex-direction : column ;
    height : 100% ;
    width : 100% ;
    margin : 0 0 0 0 ;
}

.head-content {
    display : flex ;
    flex-direction : column ;
    background-color : #54bf64 ;
    color : black ;
    height : 8% ;
    padding-top : 10px ;
}

.header-content {
    display : flex ;
    flex-direction : column ;
    align-items : center ;
}

 #button-group {
    display : flex ;
    align-items : baseline ;
 }

.button1,
.button3,
.button5 {
    border : none ;
    border-radius : 50% ;
    background-color : white ;
    padding : 5px ;
    width : 30px ;
    color : black ;
    font-size : 18 px ;
    cursor : not-allowed ;
}

.button2,
.button4 {
    border : none ;
    background-color : white ;
    width : 110px;
    height : 5px ;
    cursor : not-allowed ;
}

.button6 {
    border : none ;
    background-color : white ;
    padding : 15px;
    border-radius : 15px 15px 0 0 ;
    margin-top: 5px ;
    width : 100% ;
    cursor : not-allowed
}
#button-text {
    display : flex ;
    justify-content : space-between ;
    width : 350px ;
    color : black ;
}

.main-content {
    height : 84% ;
    padding-top : 20px 
}

.button-group1 {
    margin-top : 10px ;
}

#g1-b1,
#g1-b2 {
    border-width : 2px ;
    border-color : #54bf64 ;
    border-radius : 15px 15px 0 0 ;
    cursor : not-allowed ;
}

#g1-b1 {
    background-color : #45bf64 ;
    color : white ;
}

.schedule {
    display : grid ;
    grid : auto / auto auto auto auto ;
    box-sizing : border-box ;
    border : 1px solid #45bf64 ;
}

.schedule-label {
    box-sizing : border-box ;
    border : 1px solid #54bf64 ;
    border-radius : 15px ;
    width : 100px ;
    margin : 5px ;
    text-align : center ;
}
.main-foot {
    display : flex ;
    flex-direction : column ;
    justify-content : center ;
    align-items : center ;
    text-align : center ;
    text-decoration : none ;
    padding-top : 10px ;
}

#button9 {
    border : none ;
    background-color : #245e24 ;
    padding : 15px ;
    color : white ;
    border-radius : 15px ;
    box-shadow : 2px 3px #bababa;
    width : 200px ;
}

#button8 {
    border : none ;
    background-color : #45bf64 ;
    width : 80px ;
}

.foot-content {
    display : flex ;
    flex-direction : column ;
    justify-content : center ;
    align-items : center ;
    background-color : #54bf64 ;
    color : black ;
    font-size : 16px ;
}

.button7 {
    border : none ;
    width : 100% ;
    background-color : white ;
    border-radius : 0 0 15px 15px;
    padding : 15px ; 
    cursor : not-allowed ;
}

