
html,
body {
    display : flex ;
    flex-direction : column ;
    height : 100% ;
    width : 100% ;
    margin : 0 0 0 0 ;
    font-size : 14px ; 
}
.header-content {
    height : 10% ;
}
.menubar{
    background-color : #54bf64;
    text-align : center;
    font-family : georgia ;
    font-weight :  bold ;
    width : 100% ;
    padding-top : 15px ;
}

.button1 {
    background-color : white ;
    border : none ;
    border-radius : 15px 15px 0px 0px ; 
    padding : 15px ;
    width : 100% ;
    margin-top : 4px ;
    cursor : not-allowed ;
}

.main-content {
    display : flex ;
    flex-direction : column ;
    align-items : center ;
    height : 80% ;
    overflow : none ;
    padding : 20px ;
}

img {
    display : block ;
    padding-top : 20px ;
}

.mcontent h1, h3 {
     text-align : center ; 
     font-family : verdana ;
     font-size : 16px ;
     margin-top : 20px ;
 }
#button2 {
    background-color : #245e24 ;
    border-radius : 20px ;
    margin: 20px 0 0 0 ;
    padding : 15px 32px ;
    text-align : center ;
    text-decoration : none ;
    display : block ;
    font-weight : bold ;
    color : white ;
  }

.list-doing {
      display : block ; 
      text-align : left ; 
      list-style-position : inside ;
    } 

.list-doing ol {
    text-align : left ;
    font-size : 18px ;
}

.footicon {
    display : flex ;
    flex-direction : column ;
    background-color : #dfdfdf;
    width : 100% ;
}

.button3 {
    background-color : white ;
    border : none ;
    border-radius : 0 0 20px 20px ;
    width : 100% ;
    padding : 15px ; 
    cursor : not-allowed ;
}

.foot-menu {
    display : flex ;
    justify-content : space-around ;
    width : 100% ;
}

.foot-menu div {
    display : flex ;
    flex-direction : column ;
    align-items : center ;
    margin-bottom : 4px ;
}

