html,
body {
    height : 100% ;
    width : 100% ;
    margin : 0 ;
    display : flex ;
    flex-direction : column ;
}

.head-content {
    display : flex ;
    flex-direction : column;
    background : #54bf64 ;
    color : white ;
}

.header-content {
    display : flex ;
    flex-direction : row ;
    justify-content : space-around ;
}

.logo-content {
    display : flex ;
    flex-direction : column ;
    justify-content : center ;
    align-items : center ;
}

.button1 {
    box-sizing : border-box ;
    border : none ;
    width : 100% ;
    border-radius : 15px 15px 0 0 ;
    background-color : white ;
    height : 30px ;
    margin-top : 5px ;
}
.footer-content {
    position : absolute ;
    bottom : 0 ;
    width : 100% ;
}

.footicon {
    display : flex ;
    flex-direction : column ;
    justify-content : space-between ;
    background : #dfdfdf ;
}

.button3 {
    box-sizing : border-box ;
    border : none ;
    width : 100% ;
    height : 30px ;
    border-radius : 0 0 15px 15px ;
    background-color : white ;
    margin-bottom : 5px ;
}

.foot-menu {
    display : flex ;
    flex-direction : row ;
    justify-content : space-around ;
}

.foot-menu div {
    display : flex ;
    flex-direction : column ;
    justify-content : center ;
    align-items : center ;
}